@import "colores";
@import "mixins" ;


@font-face {
    font-family: "DK LEMON";
    src: url("/Assets/Tipografia/DKLemonYellowSun.woff");
} 
@font-face {
  font-family: "DK LEMON GITHUB";
  src: url("/sobremesaweb/Assets/Tipografia/DKLemonYellowSun.woff");
} 

h1 {
    font-family: "DK LEMON", "DK LEMON GITHUB";
}

h3 {
    font-family: "DK LEMON", "DK LEMON GITHUB";
}

p {
    font-family: "DK LEMON", "DK LEMON GITHUB";
}

label {
    font-family: "DK LEMON", "DK LEMON GITHUB" ;
}

input {
    font-family: "DK LEMON", "DK LEMON GITHUB" ;
}

textarea {
    font-family: "DK LEMON", "DK LEMON GITHUB" ;
    font-size: 20px;
}



// PARA TODO, MENOS PARA LA VERSION MOBILE


/* Home */

#botonmenumobile {
  display: none;
  background: white;
}
.menumobile{
  display: none;
}

#mobileheader {
 display: none;
}

#homepage {
   
   flex-wrap: nowrap;
   position: relative;
   display: grid;
   height: 54.5vw;
   display: inline-block;
   width: 100%;

}

.PageHead {
width: 100%;
   z-index: 100;
   padding-top: 10px;
   font-family: "DK LEMON", "DK LEMON GITHUB";
   font-size: 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   top: 0px;
   right: 100px;
}

#opcionesmenunavbar a {
   padding: 20px;
}

.PageHead img{
   width: 90px;
   align-items: center;
  
}


.Home {
color: $font-color;
text-decoration: none;
}

.hoverhomemenu:hover{
 color: rgb(255, 89, 89);
}


.AboutMenu {
   color: $font-color;
   text-decoration: none;
}

.hoveraboutmenu:hover{
 color: rgb(255, 89, 89);
}

.ThePartyMenu {
   color: $font-color;
   text-decoration: none;
}

.hoverthepartymenu:hover{
 color: rgb(255, 89, 89);
}


.GuestsMenu {
   color: $font-color;
   text-decoration: none;
}

.hoverguestsmenu:hover{
 color: rgb(255, 89, 89);
}

.ContactMenu {
   color: $font-color;
   text-decoration: none;
}

.hovercontactmenu:hover{
 color: rgb(255, 89, 89);
}

#swipeuplogo img {
   display: none;
}

#botonmenudesplegable img {
   display: none;
}


#SobremesaLogo img {
  width: 65vw ;
  position: absolute;
  top: 14vw;
  left: 17vw;
}

#PlatoConQueso img {
  width: 8vw;
  position: relative;
  top: 13vw;
  left: 10vw;
}

#PlatoTenedorAmrillo img {
   width: 8vw;
   position: relative;
   top: 30vw; 
   left: 82vw;
   
}

#Roto img {
   width: 4vw;
   position: relative;
   top: 23vw ;
   left: 13vw;
}

#Copa img {
   width: 12vw;
   position: relative;
   top: 12vw;
   left: 46vw;
   
}

.cuchillohome img {
   width: 4vw;
    position: absolute;
    top: 9vw;
    left: 87vw;
}

#Tenedor img{
  width: 8vw;
  position: absolute;
  top: 9vw;
  left:  81vw;
}

#logonavbar {
   padding: 0px 200px;
}

#opcionesmenunavbar {
   position: absolute;
   width: 100%;
   text-align: right;
   padding-right: 30px;
}

.shakeplatoconqueso:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 .shakeplatotenedoramarillo:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 .shakecopa:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 .shakeroto:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

//  .shaketenedorparty:hover {
//    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
//    transform: translate3d(0, 0, 0);
//    backface-visibility: hidden;
//    perspective: 1000px;
//  }
 
//  @keyframes shake {
//    10%, 90% {
//      transform: translate3d(-1px, 0, 0);
//    }
   
//    20%, 80% {
//      transform: translate3d(2px, 0, 0);
//    }
 
//    30%, 50%, 70% {
//      transform: translate3d(-4px, 0, 0);
//    }
 
//    40%, 60% {
//      transform: translate3d(4px, 0, 0);
//    }
//  }

 .shakecuchi2:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* About */

.AboutFondo {
   height: 54.5vw;
   position: relative;
   display: inline-block;
   width: 100%;
   background-image: url(../../images/About/FondoAbout1920x1080.png);
   background-size: 100%;
   background-repeat: no-repeat;
}

.tituloabout h1 {
   font-size: 5vw;
   position: absolute;
   top: 15vw;
   left: 14vw;

}

.aboutdescription p {
   font-size: 2.7vh;
   position: absolute;
   top: 23vw;
   left: 15.5vw;
   line-height: 1.8vw;
   
}


#CartelitoAbout img {
   width: 30vw;
   position: absolute;
   top: 17vw;
   left: 56vw;

}

.cartelitomovimiento{
   animation: shake 1s;
   animation-iteration-count: infinite;
 }
 
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

/* The Party */

#thepartypage {
   height: 54.5vw;
   position: relative;
   display: inline-block;
   width: 100%;
}


.TituloTheParty {
   font-size: 4vw;
   position: absolute;
   top: 4vw;
   left: 44vw;
}

.copatheparty {
   width: 45vw;
   position: absolute;
   top: 1vw;
  right: 69vw;
  z-index: 15;
   
}

.platosparty {
   width: 35vw;
   position: absolute;
  top: 11.5vw;
  left: 32.5vw;
} 

.cuchilloparty {
   width: 4vw;
   position: absolute;
   top: 9vw;
   left: 87vw;
}

.tenedorparty {
   width: 8vw;
   position: absolute;
   top: 9vw;
   left: 81vw;
}

.platoesquinaparty {
   width: 20vw;
   position: absolute;
   top: 33vw;
   left: 78vw;
  
}

.titulofotosparty {
   font-size: 1vw;
  position: absolute;
}

#fotosparty img {
  display: none;
  // position: absolute;
  // top: 100px;
  // left: 30vw;
  //  width: 150px;
  //  flex-wrap: wrap;
  //  justify-content: space-between;
  //  padding: 10px;
  //  border-radius: 20px;
   
}

.tituloflyersparty { 
   font-size:  3vw;
   position: absolute;
}

#flyersparty img {
  display: none; 
  //  width: 150px;
  //  flex-wrap: wrap;
  //  justify-content: space-between;
  //  border-radius: 20px;
  //  @include positionrelative(-628px,188px,356px,1122px)
}

.shakecuchilloparty:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 .shaketenedorparty:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

/* Guests */

#guestspage {
  height:57vw;
   position: relative;
   display: inline-block;
   width: 100%;
}
#gueststitulo {
   z-index: 2;
   font-size: 2vw;
   position: absolute;
   top: 14vw;
   left: 42vw;
   
}

.Botella img {
   z-index: 1;
   width: 54vw;
   position: absolute;
   
}

.ethel {
   width: 9vw;
   position: absolute;
   top: 9vw;
   left: 57vw;
   
}

.georgiooniani {
   width: 7vw;
    position: absolute;
    top: 14vw;
    left: 88vw;
   
}

.hugie {
   width: 8vw;
   position: absolute;
   top: 29vw;
   left: 70vw;
}

.mayell {
   width: 8vw;
   position: absolute;
   top: 28vw;
   left: 55vw;
}

.mrmurray {
   width: 8vw;
   position: absolute;
   top: 39vw;
   left: 86vw;
}

.oswaldo {
   width: 8vw;
  position: absolute;
  top: 18vw;
  left: 73vw;
  }

.quest {
   width: 6vw;
    position: absolute;
    top: 40vw;
    left: 55vw;
  }

.sugarfree {
   width: 6vw;
    position: absolute;
    top: 43vw;
    left: 72vw;
  }

.timkern {
   width: 5vw;
    position: absolute;
    top: 24vw;
    left: 88vw;
  }

.tzena {
   width: 5vw;
    position: absolute;
    top: 11vw;
    left: 75vw;
  } 

.cuchilloguests img {
   z-index: 3;
   width: 3vw;
   position: absolute;
   top: 26.5vw;
   left: 36.5vw;
   
}

.tenedorguests {
   z-index: 4;
   width: 10vw;
   position: absolute;
   top: 36vw;
   left: 27vw;
   
}

.plato2guests img{
   width: 7vw;
    position: absolute;
    top: 18vw;
    left: 60vw;
  }

.quesoguests img {
   width: 7vw;
  position: absolute;
  top: 32vw;
  left: 80vw;
  }

#shakeethel:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 #shakegeorgiooniani:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 #shakehugie:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 #shakemayell:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 #shakemrmurray:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 #shakeoswaldo:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

  #shakequest:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 #shakesugarfree:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 #shaketimkern :hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

#shaketzena:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }
 
 #shaketimkern:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }
 
/* Contact */

.contactofondo {
   display: inline-block;
   height: 54.5vw;
   position: relative;
   width: 100%;
   background-image: url("../../images/Contact/FondoContact.png");
   background-size: 100%;
   background-repeat: no-repeat;

}

.tituloformulario h1 {
   font-size: 4vw;
   position: absolute;
   top: 2vw;
   left: 42vw;

}

.quesocontact img {
   display: none;
}

.sobremesalogocontact img {
   display: none;
}


.instagramlogofooter img{
   width: 1.8vw;
   position: absolute;
   top: 48.1vw;
   left: 88vw;
}

.facebooklogofooter img {
   width: 2vw;
   position: absolute;
   top: 48vw;
   left: 85vw;
   
}

#formulariocontact {
line-height: 1vw;
position: absolute;
top: 10vw;
left: 37vw;
}

.inputname input{
 font-size: 1vw;
 @include inputstyle(26vw,1.5vw,3px,20px)
}

.inputapellido input{
  font-size: 1vw;
  @include inputstyle(26vw,1.5vw,3px,20px)
}

.inputemail input {
  font-size: 1vw;
  @include inputstyle(26vw,1.5vw,3px,20px)
}

.inputaffair input {
  font-size: 1vw;
  @include inputstyle(26vw,1.5vw,3px,20px)
}

.textareacomments textarea {
   font-size: 1vw;
   @include inputstyle(26vw,8vw,3px,20px)
}

.botonsubmit input {
   font-size: 1vw;
   @include inputstyle(4vw,2vw,3px,20px)
   }

   .labelname {
     font-size: 1.6vw;
 }
 
 .labelapellido {
  font-size: 1.6vw;
 }
 
 .labelemail {
  font-size: 1.6vw;
 }
 
 .labelaffair {
  font-size: 1.6vw;
 }
 
 .labelcomments {
  font-size: 1.6vw;
 }


/* MOBILE VERSION */


 @media only screen and (min-width: 0px) and (max-width: 639px) {

    /* Home Mobile */

#logonavbar a {
    display: none;
}

#homepage {
    
    flex-wrap: nowrap;
    display: grid;
    height: 640px;
    display: inline-block;
    width: 100%;

}

#menudesplegable{
  position: absolute;
  top: 0px;
  right:0px ;
  bottom: 0px;
  left: 220px;
  img {

    width: 80px;
  }
  ul li{
    width: 70px;
    height: 50px ;
    background-color: salmon;
    list-style: none;
    -webkit-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.17);
    box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.17);
    @include positionrelative (-10px,0px,0px,-149px)
  }
  li{
    padding: 15px;
    padding-left: 25px;
    letter-spacing: 1px;
    line-height: 28px;
    font-family: "DK LEMON", "DK LEMON GITHUB";
    list-style: none;
    font-size: 25px;
    text-decoration: none;
  }
  a{
  color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .logodesplegable{
    width: 40px;
    padding-left: 10px;

  }
}


.letras {
  font-family: "DK LEMON", "DK LEMON GITHUB";
}



.menumobile.visible {
  display: block;
}
.menumobile{
  display: none;
}

.PageHead {
  display: none;

}

#opcionesmenunavbar a {
display: none;}

.PageHead img{
    display: none;
  
}


#Home {
display: none;
}

.AboutMenu {
    display: none;
}

.ThePartyMenu {
    display: none;
}

.GuestsMenu {
    display: none;
}

.ContactMenu {
    display: none;
}


#swipeuplogo img {
    width: 35px;
    @include positionabsolut(560px,0px,291px,165px)
}



#PlatoConQueso img { 
    width: 79px;
    @include positionabsolut(183px,282px,291px,29px)
    
}

#PlatoTenedorAmrillo img {
    width: 70px ;
    @include positionabsolut(486px,36px,0px,260px)
}

#Roto img {
    width: 44px;
    @include positionabsolut(450px,302px,0px,44px)
}

#Copa img {
    width: 115px;
    @include positionabsolut(414px,122px,0px,122px)
}

#Cuchillo img {
    width: 35px;
    @include positionabsolut(210px,36px,0px,295px)
}

#Tenedor img{
    width: 76px;
    @include positionabsolut(206px,47px,0px,230px)
}

#logonavbar {
display: none;
}

#opcionesmenunavbar {
    display: none;
}

/* About */

.AboutFondo {
    height: 640px;
    display: inline-block;
    width: 100%;
    background-image: url("../../images/About/Fondoaboutmobile.png");
    background-size: cover;
}

.tituloabout h1 {
    font-size: 50px;
    @include positionabsolut(700px,auto,57px,50px)
}

.aboutdescription article p {
    font-size: 17px;
    justify-content: space-between;
    @include positionabsolut(1100px,auto,57px,40px)
    }


#CartelitoAbout img {
    width: 303px;
    @include positionabsolut(200px,auto,431px,25px)
}

.cartelitomovimiento{
  animation: shake 1s;
  animation-iteration-count: infinite;
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* The Party */

#thepartypage {
    height: 640px;
    display: inline-block;
    width: 100%;
}


.TituloTheParty {
    font-size: 50px;
    @include positionabsolut(1300px,auto,57px,100px)
}

.copatheparty {
    width: 380px;
    @include positionabsolut(1400px,0px,auto,-135px)
}   

.platosparty {
    width: 310px;
    @include positionabsolut(1400px,33px,671px,25px)
} 

.cuchilloparty {
    display: none;
}

.tenedorparty {
   display: none;
}

.platoesquinaparty {
    width: 260px;
    @include positionrelative(500px,auto,auto,90px)
}

.titulofotosparty {
    font-size: 17px;
    @include positionabsolut(1455px,auto,57px,90px)
}

#fotosparty img {
    width: 70px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px;
    @include positionrelative(-70px,auto,auto,70px)
}

.tituloflyersparty { 
    font-size: 17px;
    @include positionabsolut(1857px,auto,57px,17px)
}

#flyersparty img {
    width: 70px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    @include positionrelative(-50px,auto,auto,0px)
}

/* Guests */

#guestspage {
    height: 640px;
    display: inline-block;
    position: relative;
    width: 100%;
}
#gueststitulo {
    z-index: 2;
    font-size: 40px;
    @include positionabsolut(1965px,auto,57px,17px)
}

.Botella img {
    z-index: 1;
    width: 350px;
    @include positionabsolut(2208px,0px,0px,0px)
}

.ethel {
    width: 60px;
    @include positionabsolut(2100px,auto,57px,17px)
}

.georgiooniani {
    width: 60px;
    @include positionabsolut(2050px,auto,57px,100px)
}

.hugie {
    width: 70px;
    @include positionabsolut(2300px,auto,57px,20px)
}


.mayell {
    width: 62px;
    @include positionabsolut(2150px,auto,57px,100px)
}

.mrmurray {
    width: 60px;
    @include positionabsolut(2090px,auto,57px,175px)
}

.oswaldo {
    width: 70px;
    @include positionabsolut(2060px,auto,57px,230px)
}

.quest {
    width: 60px;
    @include positionabsolut(2165px,auto,57px,280px)
}

.sugarfree {
    width: 45px;
    @include positionabsolut(2110px,auto,57px,290px)
}

.timkern {
    width: 50px;
    @include positionabsolut(2220px,auto,57px,20px)
}

.tzena {
    width: 60px;
    transform: rotate(-20deg);
    @include positionabsolut(2240px,auto,57px,110px)
} 

.cuchilloguests img {
    z-index: 3;
    width: 29px;
    @include positionabsolut(2380px,0px,0px,238px)
}

.tenedorguests img {
    z-index: 4;
    width: 100px;
    @include positionabsolut(2460px,0px,0px,150px)
}

.plato2guests img{
    width: 50px;
    @include positionabsolut(2165px,auto,57px,190px)
}

.quesoguests img {
    width: 48px;
    @include positionabsolut(2150px,auto,57px,30px)
}
/* Contact */

.fondofomulario {
    height: 640px;
    display: inline-block;
    width: 100%;
    background-image: url("../../images/Contact/fondomobilecontact.png");
background-size: cover;
}

.tituloformulario h1 {
    font-size: 50px;
    @include positionabsolut(2570px,auto,57px,85px)
}

.quesocontact img {
    width: 100px;
    @include positionabsolut(2990px,auto,57px,-69px)
}

.sobremesalogocontact img {
    width: 100px;
    transform: rotate(50deg);
    @include positionabsolut(2670px,auto,57px,250px)
}

.instagramlogofooter img{
    width: 25px;
    @include positionabsolut(3153px,auto,57px,270px)
}

.facebooklogofooter img {
    width: 27px;
    @include positionabsolut(3151px,auto,57px,304px)
}

.formulariomobile {
     display: flex;
flex-direction: column;
align-items: center;
line-height: 12px;
@include positionabsolut(2680px,68px,128px,52px)
}

#inputnamemobile input{
  @include inputstyle(150px,15px,3px,20px)
}

#inputapellidomobile input{
  @include inputstyle(150px,15px,3px,20px)
}

#inputemailmobile input {
  @include inputstyle(150px,15px,3px,20px)
}

#inputaffairmobile input {
  @include inputstyle(150px,15px,3px,20px)

}

#textareacommentsmobile textarea {
  @include inputstyle(150px,50px,3px,20px)
}

#botonsubmitmobile input {
  @include inputstyle(50px,25px,3px,20px)
    }

#labelnamemobile label {
    font-size: 15px;
}

#labelapellidomobile label {
    font-size: 15px;
}

#labelemailmobile {
    font-size: 15px;
}

#labelaffairmobile label {
    font-size: 15px;
}

#labelcommentsmobile label {
    font-size: 15px;
}

}


