@import "colores";
@import "mixins" ;


@font-face {
    font-family: "DK LEMON";
    src: url("/Assets/Tipografia/DKLemonYellowSun.woff");
} 
@font-face {
  font-family: "DK LEMON GITHUB";
  src: url("/sobremesaweb/Assets/Tipografia/DKLemonYellowSun.woff");
} 

h1 {
    font-family: "DK LEMON", "DK LEMON GITHUB";
}

h3 {
    font-family: "DK LEMON", "DK LEMON GITHUB";
}

p {
    font-family: "DK LEMON", "DK LEMON GITHUB";
}

label {
    font-family: "DK LEMON", "DK LEMON GITHUB" ;
}

input {
    font-family: "DK LEMON", "DK LEMON GITHUB" ;
}

textarea {
    font-family: "DK LEMON", "DK LEMON GITHUB" ;
    font-size: 20px;
}



// PARA TODO, MENOS PARA LA VERSION MOBILE


/* Home */

#botonmenumobile {
  display: none;
  background: white;
}
.menumobile{
  display: none;
}

#mobileheader {
 display: none;
}

#homepage {
   
   flex-wrap: nowrap;
   position: relative;
   display: grid;
   height: 54.5vw;
   display: inline-block;
   width: 100%;

}

.PageHead {
width: 100%;
   z-index: 1000000;
   padding-top: 10px;
   font-family: "DK LEMON", "DK LEMON GITHUB";
   font-size: 1.7vw;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   top: 0px;
   right: 100px;
}

#opcionesmenunavbar a {
   padding: 15px;
}

.PageHead img{
   width: 5vw;
   align-items: center;
  
}


.Home {
color: $font-color;
text-decoration: none;
}

.hoverhomemenu:hover{
 color: rgb(255, 89, 89);
}


.AboutMenu {
   color: $font-color;
   text-decoration: none;
}

.hoveraboutmenu:hover{
 color: rgb(255, 89, 89);
}

.ThePartyMenu {
   color: $font-color;
   text-decoration: none;
}

.hoverthepartymenu:hover{
 color: rgb(255, 89, 89);
}


.GuestsMenu {
   color: $font-color;
   text-decoration: none;
}

.hoverguestsmenu:hover{
 color: rgb(255, 89, 89);
}

.ContactMenu {
   color: $font-color;
   text-decoration: none;
}

.hovercontactmenu:hover{
 color: rgb(255, 89, 89);
}

.swipeuplogo {
   display: none;
}

#botonmenudesplegable img {
   display: none;
}


.SobremesaLogo img {
  width: 65vw ;
  position: absolute;
  top: 14vw;
  left: 17vw;
}

#PlatoConQueso img {
  width: 8vw;
  position: relative;
  top: 13vw;
  left: 10vw;
}

#PlatoTenedorAmrillo img {
   width: 8vw;
   position: relative;
   top: 30vw; 
   left: 82vw;
   
}

#Roto img {
   width: 4vw;
   position: relative;
   top: 23vw ;
   left: 13vw;
}

#Copa img {
   width: 12vw;
   position: relative;
   top: 12vw;
   left: 46vw;
   
}

.cuchillohome img {
   width: 4vw;
    position: absolute;
    top: 9vw;
    left: 87vw;
}

#Tenedor img{
  width: 8vw;
  position: absolute;
  top: 9vw;
  left:  81vw;
}

#logonavbar {
   padding: 0px 200px;
}

#opcionesmenunavbar {
   position: absolute;
   width: 100%;
   text-align: right;
   padding-right: 30px;
}

.shakeplatoconqueso:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 .shakeplatotenedoramarillo:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 .shakecopa:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 .shakeroto:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

//  .shaketenedorparty:hover {
//    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
//    transform: translate3d(0, 0, 0);
//    backface-visibility: hidden;
//    perspective: 1000px;
//  }
 
//  @keyframes shake {
//    10%, 90% {
//      transform: translate3d(-1px, 0, 0);
//    }
   
//    20%, 80% {
//      transform: translate3d(2px, 0, 0);
//    }
 
//    30%, 50%, 70% {
//      transform: translate3d(-4px, 0, 0);
//    }
 
//    40%, 60% {
//      transform: translate3d(4px, 0, 0);
//    }
//  }

 .shakecuchi2:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* About */

.AboutFondo {
   height: 54.5vw;
   position: relative;
   display: inline-block;
   width: 100%;
   background-image: url(../../images/About/FondoAbout1920x1080.png);
   background-size: 100%;
   background-repeat: no-repeat;
}

.tituloabout h1 {
   font-size: 5vw;
   position: absolute;
   top: 15vw;
   left: 14vw;

}

.aboutdescription p {
   font-size: 1.4vw;
   position: absolute;
   top: 23vw;
   left: 14.5vw;
   line-height: 1.7vw;
   
}


#CartelitoAbout img {
   width: 30vw;
   position: absolute;
   top: 17vw;
   left: 56vw;

}

.cartelitomovimiento{
   animation: shake 1s;
   animation-iteration-count: infinite;
 }
 
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

/* The Party */

#thepartypage {
   height: 54.5vw;
   position: relative;
   display: inline-block;
   width: 100%;
}


.TituloTheParty {
   font-size: 4vw;
   position: absolute;
   top: 4vw;
   left: 44vw;
}

.copatheparty {
   width: 45vw;
   position: absolute;
   top: 1vw;
  right: 69vw;
  z-index: 15;
   
}

.platosparty {
   width: 35vw;
   position: absolute;
  top: 11.5vw;
  left: 32.5vw;
} 

.cuchilloparty {
   width: 4vw;
   position: absolute;
   top: 9vw;
   left: 87vw;
}

.tenedorparty {
   width: 8vw;
   position: absolute;
   top: 9vw;
   left: 81vw;
}

.platoesquinaparty {
   width: 20vw;
   position: absolute;
   top: 33vw;
   left: 78vw;
  
}

.titulofotosparty {
   font-size: 1.7vw;
  position: absolute;
  top: 23vw;
  left: 34.5vw;
}

.tituloflyersparty { 
  font-size: 1.7vw;
  position: absolute;
  top: 42vw;
  left: 60.5vw;
  
}


// PRUEBA GALERIA FOTOS

#photos {
  position: absolute;
  top: 27vw;
  left: 7vw;
  z-index: 1000;
  opacity: 100%;
}

#photos img {
  width: 10vw;
  float: left;
  display: block;
  margin: 2px;
  border-radius: 2px;
}


#overlay {
  z-index: 10001;
  background: rgba(0,0,0, .8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

#overlay img {
  margin: 10% auto 0;
  width: 550px;
  border-radius: 5px;
}

#photos {
  width: 35vw;
}

#photo-gallery {
  width: 100%;
}

// 

// PRUEBA GALERIA DE FLYERS

#Flyers {
  position: absolute;
  top: 22vw;
  left: 60vw;
  z-index: 1000;
  opacity: 100%;
}

#Flyers img {
  width: 10vw;
  float: left;
  display: block;
  margin: 2px;
  border-radius: 2px;
}


#overlay2 {
  z-index: 10001;
  background: rgba(0,0,0, .8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

#overlay2 img {
  margin: 10% auto 0;
  width: 550px;
  border-radius: 5px;
}

#Flyers {
  width: 35vw;
}

#Flyers-gallery {
  width: 100%;
}

// 


.flyernextgig {
 position: absolute;
 top: 25vw;
 left: 70vw;

  img{
    width: 20vw;
    border-radius: 5px;
  }
}

.shakecuchilloparty:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 .shaketenedorparty:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

/* Guests */

#guestspage {
  height:57vw;
   position: relative;
   display: inline-block;
   width: 100%;
}
#gueststitulo {
   z-index: 2;
   font-size: 2vw;
   position: absolute;
   top: 14vw;
   left: 42vw;
   
}

.Botella img {
   z-index: 1;
   width: 54vw;
   position: absolute;
   
}

.ethel {
   width: 9vw;
   position: absolute;
   top: 9vw;
   left: 57vw;
   
}

.georgiooniani {
   width: 7vw;
    position: absolute;
    top: 14vw;
    left: 88vw;
   
}

.hugie {
   width: 8vw;
   position: absolute;
   top: 29vw;
   left: 70vw;
}

.mayell {
   width: 8vw;
   position: absolute;
   top: 28vw;
   left: 55vw;
}

.mrmurray {
   width: 8vw;
   position: absolute;
   top: 39vw;
   left: 86vw;
}

.oswaldo {
   width: 8vw;
  position: absolute;
  top: 18vw;
  left: 73vw;
  }

.quest {
   width: 6vw;
    position: absolute;
    top: 40vw;
    left: 55vw;
  }

.sugarfree {
   width: 6vw;
    position: absolute;
    top: 43vw;
    left: 72vw;
  }

.timkern {
   width: 5vw;
    position: absolute;
    top: 24vw;
    left: 88vw;
  }

.tzena {
   width: 5vw;
    position: absolute;
    top: 11vw;
    left: 75vw;
  } 

.cuchilloguests img {
   z-index: 3;
   width: 3vw;
   position: absolute;
   top: 26.5vw;
   left: 36.5vw;
   
}

.tenedorguests {
   z-index: 4;
   width: 10vw;
   position: absolute;
   top: 36vw;
   left: 27vw;
   
}

.plato2guests img{
   width: 7vw;
    position: absolute;
    top: 18vw;
    left: 60vw;
  }

.quesoguests img {
   width: 7vw;
  position: absolute;
  top: 32vw;
  left: 80vw;
  }

#shakeethel:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 #shakegeorgiooniani:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 #shakehugie:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 #shakemayell:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 #shakemrmurray:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 #shakeoswaldo:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

  #shakequest:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 #shakesugarfree:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 #shaketimkern :hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

#shaketzena:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }
 
 #shaketimkern:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }
 
/* Contact */

.contactofondo {
   display: inline-block;
   height: 54.5vw;
   position: relative;
   width: 100%;
   background-image: url("../../images/Contact/FondoContact.png");
   background-size: 100%;
   background-repeat: no-repeat;

}

.tituloformulario h1 {
   font-size: 4vw;
   position: absolute;
   top: 2vw;
   left: 42vw;

}

.quesocontact img {
   display: none;
}

.sobremesalogocontact img {
   display: none;
}


.instagramlogofooter img{
   width: 1.8vw;
   position: absolute;
   top: 48.1vw;
   left: 88vw;
}

.facebooklogofooter img {
   width: 2vw;
   position: absolute;
   top: 48vw;
   left: 85vw;
   
}

#formulariocontact {
line-height: 1vw;
position: absolute;
top: 10vw;
left: 37vw;
}

.inputname input{
 border-color: black;
 font-size: 1vw;
 @include inputstyle(26vw,1.5vw,3px,20px)
}

.inputapellido input{
  border-color: black;
  font-size: 1vw;
  @include inputstyle(26vw,1.5vw,3px,20px)
}

.inputemail input {
  border-color: black;
  font-size: 1vw;
  @include inputstyle(26vw,1.5vw,3px,20px)
}

.inputaffair input {
  border-color: black;
  font-size: 1vw;
  @include inputstyle(26vw,1.5vw,3px,20px)
}

.textareacomments textarea {
  border-color: black;
  padding: 8px;
   font-size: 1vw;
   @include inputstyle(26vw,8vw,3px,20px)
}

.botonsubmit input {
  border-color: black;
   font-size: 1vw;
   @include inputstyle(4vw,2vw,3px,20px)
   }

   .labelname {
     font-size: 1.6vw;
 }
 
 .labelapellido {
  font-size: 1.6vw;
 }
 
 .labelemail {
  font-size: 1.6vw;
 }
 
 .labelaffair {
  font-size: 1.6vw;
 }
 
 .labelcomments {
  font-size: 1.6vw;
 }


/* MOBILE VERSION */


 @media only screen and (min-width: 0px) and (max-width: 640px) {

body{
  overflow-x: hidden;
  margin: 0px;
}

    /* Home Mobile */

#logonavbar a {
    display: none;
}

#homepage {
    
    flex-wrap: nowrap;
    height: 180.7vw;
    position: relative;
    display: inline-block;
    width: 100%;

}

#botonmenumobile {
  display: block;
}

#menudesplegable{
  z-index: 50;
  position: absolute;
  left: 55vw;
  #botonmenumobile {
    width: 26vw;
    position: absolute;
    top: 1.8vw;
    left: 17vw;
  }
  ul li{
    width: 21vw;
    height: 16vw ;
    background-color: salmon;
    list-style: none;
    -webkit-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.17);
    box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.17);
    @include positionrelative (3vw,none,none,-42vw)
  }
  li{
    padding: 4vw;
    padding-left: 6vw;
    letter-spacing: 1px;
    line-height: 8vw;
    font-family: "DK LEMON", "DK LEMON GITHUB";
    list-style: none;
    font-size: 7vw;
    text-decoration: none;
  }
  a{
  color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .logodesplegable{
    width: 13vw;
    padding-left: 3vw;
  }
}


.letras {
  font-family: "DK LEMON", "DK LEMON GITHUB";
}



.menumobile.visible {
  display: block;
}


.PageHead {
  display: none;

}

#opcionesmenunavbar a {
display: none;}

.PageHead img{
    display: none;
  
}


#Home {
display: none;
}

.AboutMenu {
    display: none;
}

.ThePartyMenu {
    display: none;
}

.GuestsMenu {
    display: none;
}

.ContactMenu {
    display: none;
}

.SobremesaLogo img{
  width: 73vw;
  @include positionabsolut(88vw,none,none,14vw)
}


#PlatoConQueso img { 
    width: 23vw;
    @include positionabsolut(57vw,none,none,7vw)
    
}

#PlatoTenedorAmrillo img {
    width: 20vw ;
    @include positionabsolut(136vw,none,none,70vw)
}

#Roto img {
    width: 13vw;
    @include positionabsolut(128vw,none,none,8vw)
}

#Copa img {
    width: 30vw;
    @include positionabsolut(119vw,none,none,33vw)
}

#Cuchillo img {
    width: 11vw;
    @include positionabsolut(60vw,none,none,77vw)
}

#Tenedor img{
    width: 24vw;
    @include positionabsolut(58vw,none,none,58vw)
}

#logonavbar {
display: none;
}

#opcionesmenunavbar {
    display: none;
}

/* About */

.AboutFondo {
    height: 180.7vw;
    display: inline-block;
    position: relative;
    width: 100%;
    background-image: url("../../images/About/Fondoaboutmobile.png");
    background-size: cover;
}

.tituloabout h1 {
  text-align: center;
  width: 100%;
    font-size: 13vw;
    @include positionabsolut(16vw,none,none,0px)
}

.aboutdescription p {
    font-size: 4.5vw; 
    justify-content: space-between;
    line-height: 6vw;
    @include positionabsolut(120vw,none,none,8.5vw)
    }


#CartelitoAbout img {
    width: 80vw;
    @include positionabsolut(60vw,none,none,10.5vw)
}

.cartelitomovimiento{
  animation: shake 1s;
  animation-iteration-count: infinite;
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* The Party */

#thepartypage {
    height: 180.7vw;
    display: inline-block;
    position: relative;
    width: 100%;
}

// PRUEBA GALERIA FOTOS

#photos {
  position: absolute;
  top: 99vw;
  left: 6.5vw;
  z-index: 1000;
  opacity: 100%;
}

#photos img {
  width: 19vw;
  float: left;
  display: block;
  margin: 1vw;
  border-radius: 2px;
}


#overlay {
  z-index: 10001;
  background: rgba(0,0,0, .8);
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  text-align: center;
}

#overlay img {
  margin: 35% auto 0;
  width: 100vw;
  border-radius: 2px;
}

#photos {
  width: 50vw;
}

#photo-gallery {
  width: 100%;
}

// 

// PRUEBA GALERIA DE FLYERS

#Flyers {
  position: absolute;
  top: 42vw;
  left: 52vw;
  z-index: 1000;
  opacity: 100%;
}

#Flyers img {
  width: 19vw;
  float: left;
  display: block;
  margin: 1vw;
  border-radius: 2px;
}


#overlay2 {
  z-index: 10002;
  background: rgba(0,0,0, .8);
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  text-align: center;
}

#overlay2 img {
  margin: 35% auto 0;
  width: 100vw;
  border-radius: 2px;
}

#Flyers {
  width: 50vw;
}

#Flyers-gallery {
  width: 100%;
}

// 


.TituloTheParty {
    font-size: 13vw;
    text-align: center;
    width: 100%;
    @include positionabsolut(1vw,none,none,0px)
}

.copatheparty {
  z-index: 1;
    width: 94vw;
    @include positionabsolut(24vw,none,none,-33vw)
}   

.platosparty {
    width: 80vw;
    @include positionabsolut(25vw,none,none,10vw)
} 

.cuchilloparty {
    display: none;
}

.tenedorparty {
   display: none;
}

.platoesquinaparty {
  z-index: 2;
    width: 70vw;
    @include positionrelative(120vw,none,none,24vw)
}

.titulofotosparty {
    font-size: 5vw;
    @include positionabsolut(88.5vw,none,none,29px)
}

.tituloflyersparty { 
    font-size: 5vw;
    @include positionabsolut(101vw,none,none,82.5vw)
}


/* Guests */

#guestspage {
    height: 180.7vw;
    display: inline-block;
    position: relative;
    width: 100%;
}
#gueststitulo {
    z-index: 2;
    font-size: 7vw;
    @include positionabsolut(1vw,none,none,6vw)
}

.Botella img {
    z-index: 1;
    width: 99vw;
    @include positionabsolut(70vw,none,none,none)
}

.ethel {
    width: 17vw;
    @include positionabsolut(52vw,none,none,8vw)
}

.georgiooniani {
    width: 17vw;
    @include positionabsolut(33vw,none,none,28vw)
}

.hugie {
  z-index: 42;
    width: 19vw;
    @include positionabsolut(95vw,none,none,7vw)
}


.mayell {
  z-index: 44;
    width: 19vw;
    @include positionabsolut(68vw,none,none,28vw)
}

.mrmurray {
    width: 19vw;
    transform: rotate(-30deg);
    @include positionabsolut(58vw,none,none,50vw)
}

.oswaldo {
    width: 20vw;
    @include positionabsolut(42vw,none,none,60vw)
}

.quest {
    width: 16vw;
    @include positionabsolut(57vw,none,none,76vw)
}

.sugarfree {
    width: 17vw;
    @include positionabsolut(20vw,none,none,77vw)
}

.timkern {
  z-index: 43;
    width: 15vw;
    @include positionabsolut(72vw,none,none,6vw)
}

.tzena {
    width: 17vw;
    transform: rotate(-20deg);
    @include positionabsolut(21vw,none,none,50vw)
} 

.cuchilloguests img {
    z-index: 3;
    width: 8vw;
    @include positionabsolut(115vw,none,none,66vw)
}

.tenedorguests { 
    z-index: 4;
    width: 25vw;
    @include positionabsolut(145vw,none,none,45vw)
}

.plato2guests img{
    width: 14vw;
    @include positionabsolut(50vw,none,none,35vw)
}

.quesoguests img {
    width: 16vw;
    @include positionabsolut(29vw,none,none,7vw)
}
/* Contact */

.contactofondo{
  background: none;
}


.fondofomulario {
    height: 180.7vw;
    display: inline-block;
    position: relative;
    width: 100%;
    background-image: url("../../images/Contact/fondomobilecontact.png");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.tituloformulario h1 {
  text-align: center;
    font-size: 15vw;
    @include positionabsolut(10vw,none,none,20vw)
}

.quesocontact img {
    display: none;
}

.sobremesalogocontact img {
   display: none;
}

.instagramlogofooter img{
    width: 8vw;
    @include positionabsolut(168vw,none,none,70vw)
}

.facebooklogofooter img {
    width: 8.5vw;
    @include positionabsolut(167.5vw,none,none,81vw)
}

#formulariocontact {

  width: 100%;
display: flex;
flex-direction: column;
align-items: center;
line-height: 3vw;
@include positionabsolut(44vw,none,none,0px)
}

#inputnamemobile input{
  border-color: black;
  font-size: 4vw;
  @include inputstyle(44vw,5vw,3px,20px)
}

#inputapellidomobile input{
  border-color: black;
  font-size: 4vw;
  @include inputstyle(44vw,5vw,3px,20px)
}

#inputemailmobile input {
  border-color: black;
  font-size: 4vw;
  @include inputstyle(44vw,5vw,3px,20px)
}

#inputaffairmobile input {
  border-color: black;
  font-size: 4vw;
  @include inputstyle(44vw,5vw,3px,20px)

}

#textareacommentsmobile textarea {
  border-color: black;
  padding: 5px;
  font-size: 4vw;
  line-height: 4vw;
  @include inputstyle(44vw,16vw,3px,20px)
}

#botonsubmitmobile input {
  border-color: black;
  font-size: 4.5vw;
  @include inputstyle(fit-content,7vw,3px,20px)
    }

#labelnamemobile label {
    font-size: 5vw;
}

#labelapellidomobile label {
    font-size: 5vw;
}

#labelemailmobile {
    font-size: 5vw;
}

#labelaffairmobile label {
    font-size: 5vw;
}

#labelcommentsmobile label {
    font-size: 5vw;
}

}


