@import "colores";
@import "mixins" ;


@font-face {
    font-family: "DK LEMON";
    src: url("/Assets/Tipografia/DKLemonYellowSun.woff");
} 
@font-face {
  font-family: "DK LEMON GITHUB";
  src: url("/sobremesaweb/Assets/Tipografia/DKLemonYellowSun.woff");
} 

h1 {
    font-family: "DK LEMON", "DK LEMON GITHUB";
}

h3 {
    font-family: "DK LEMON", "DK LEMON GITHUB";
}

p {
    font-family: "DK LEMON", "DK LEMON GITHUB";
}

label {
    font-family: "DK LEMON", "DK LEMON GITHUB" ;
}

input {
    font-family: "DK LEMON", "DK LEMON GITHUB" ;
}

textarea {
    font-family: "DK LEMON", "DK LEMON GITHUB" ;
    font-size: 20px;
}



// PARA TODO, MENOS PARA LA VERSION MOBILE


/* Home */

#botonmenumobile {
  display: none;
  background: white;
}
.menumobile{
  display: none;
}

#mobileheader {
 display: none;
}

#homepage {
   
   flex-wrap: nowrap;
   position: relative;
   display: grid;
   height: 54.5vw;
   display: inline-block;
   width: 100%;

}

.PageHead {
width: 100%;
   z-index: 1000000;
   padding-top: 10px;
   font-family: "DK LEMON", "DK LEMON GITHUB";
   font-size: 1.7vw;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   top: 0px;
   right: 100px;
}

#opcionesmenunavbar a {
   padding: 15px;
}

.PageHead img{
   width: 5vw;
   align-items: center;
  
}


.Home {
color: $font-color;
text-decoration: none;
}

.hoverhomemenu:hover{
 color: rgb(255, 89, 89);
}


.AboutMenu {
   color: $font-color;
   text-decoration: none;
}

.hoveraboutmenu:hover{
 color: rgb(255, 89, 89);
}

.ThePartyMenu {
   color: $font-color;
   text-decoration: none;
}

.hoverthepartymenu:hover{
 color: rgb(255, 89, 89);
}


.GuestsMenu {
   color: $font-color;
   text-decoration: none;
}

.hoverguestsmenu:hover{
 color: rgb(255, 89, 89);
}

.ContactMenu {
   color: $font-color;
   text-decoration: none;
}

.hovercontactmenu:hover{
 color: rgb(255, 89, 89);
}

.swipeuplogo {
   display: none;
}

#botonmenudesplegable img {
   display: none;
}


.SobremesaLogo img {
  width: 65vw ;
  position: absolute;
  top: 14vw;
  left: 17vw;
}

#PlatoConQueso img {
  width: 8vw;
  position: relative;
  top: 13vw;
  left: 10vw;
}

#PlatoTenedorAmrillo img {
   width: 8vw;
   position: relative;
   top: 30vw; 
   left: 82vw;
   
}

#Roto img {
   width: 4vw;
   position: relative;
   top: 23vw ;
   left: 13vw;
}

#Copa img {
   width: 12vw;
   position: relative;
   top: 12vw;
   left: 46vw;
   
}

.cuchillohome img {
   width: 4vw;
    position: absolute;
    top: 9vw;
    left: 87vw;
}

#Tenedor img{
  width: 8vw;
  position: absolute;
  top: 9vw;
  left:  81vw;
}

#logonavbar {
   padding: 0px 200px;
}

#opcionesmenunavbar {
   position: absolute;
   width: 100%;
   text-align: right;
   padding-right: 30px;
}

.shakeplatoconqueso:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 .shakeplatotenedoramarillo:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 .shakecopa:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 .shakeroto:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

//  .shaketenedorparty:hover {
//    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
//    transform: translate3d(0, 0, 0);
//    backface-visibility: hidden;
//    perspective: 1000px;
//  }
 
//  @keyframes shake {
//    10%, 90% {
//      transform: translate3d(-1px, 0, 0);
//    }
   
//    20%, 80% {
//      transform: translate3d(2px, 0, 0);
//    }
 
//    30%, 50%, 70% {
//      transform: translate3d(-4px, 0, 0);
//    }
 
//    40%, 60% {
//      transform: translate3d(4px, 0, 0);
//    }
//  }

 .shakecuchi2:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* About */

.AboutFondo {
   height: 54.5vw;
   position: relative;
   display: inline-block;
   width: 100%;
   background-image: url(../../images/About/FondoAbout1920x1080.png);
   background-size: 100%;
   background-repeat: no-repeat;
}

.tituloabout h1 {
   font-size: 5vw;
   position: absolute;
   top: 15vw;
   left: 14vw;

}

.aboutdescription p {
   font-size: 1.4vw;
   position: absolute;
   top: 23vw;
   left: 14.5vw;
   line-height: 1.7vw;
   
}


#CartelitoAbout img {
   width: 30vw;
   position: absolute;
   top: 17vw;
   left: 56vw;

}

.cartelitomovimiento{
   animation: shake 1s;
   animation-iteration-count: infinite;
 }
 
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

/* The Party */

#thepartypage {
   height: 54.5vw;
   position: relative;
   display: inline-block;
   width: 100%;
}


.TituloTheParty {
   font-size: 4vw;
   position: absolute;
   top: 4vw;
   left: 44vw;
}

.copatheparty {
   width: 45vw;
   position: absolute;
   top: 1vw;
  right: 69vw;
  z-index: 15;
   
}

.platosparty {
   width: 35vw;
   position: absolute;
  top: 11.5vw;
  left: 32.5vw;
} 

.cuchilloparty {
   width: 4vw;
   position: absolute;
   top: 9vw;
   left: 87vw;
}

.tenedorparty {
   width: 8vw;
   position: absolute;
   top: 9vw;
   left: 81vw;
}

.platoesquinaparty {
   width: 20vw;
   position: absolute;
   top: 33vw;
   left: 78vw;
  
}

.titulofotosparty {
   font-size: 1.7vw;
  position: absolute;
  top: 23vw;
  left: 34.5vw;
}

.tituloflyersparty { 
  font-size: 1.7vw;
  position: absolute;
  top: 42vw;
  left: 60.5vw;
  
}


// PRUEBA GALERIA FOTOS

#photos {
  position: absolute;
  top: 27vw;
  left: 7vw;
  z-index: 1000;
  opacity: 100%;
}

#photos img {
  width: 10vw;
  float: left;
  display: block;
  margin: 2px;
  border-radius: 2px;
}


#overlay {
  z-index: 10001;
  background: rgba(0,0,0, .8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

#overlay img {
  margin: 10% auto 0;
  width: 550px;
  border-radius: 5px;
}

#photos {
  width: 35vw;
}

#photo-gallery {
  width: 100%;
}

// 

// PRUEBA GALERIA DE FLYERS

#Flyers {
  position: absolute;
  top: 22vw;
  left: 60vw;
  z-index: 1000;
  opacity: 100%;
}

#Flyers img {
  width: 10vw;
  float: left;
  display: block;
  margin: 2px;
  border-radius: 2px;
}


#overlay2 {
  z-index: 10001;
  background: rgba(0,0,0, .8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

#overlay2 img {
  margin: 10% auto 0;
  width: 550px;
  border-radius: 5px;
}

#Flyers {
  width: 35vw;
}

#Flyers-gallery {
  width: 100%;
}

// 


.flyernextgig {
 position: absolute;
 top: 25vw;
 left: 70vw;

  img{
    width: 20vw;
    border-radius: 5px;
  }
}

.shakecuchilloparty:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 .shaketenedorparty:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

/* Guests */

#guestspage {
  height:57vw;
   position: relative;
   display: inline-block;
   width: 100%;
}
#gueststitulo {
   z-index: 2;
   font-size: 2vw;
   position: absolute;
   top: 14vw;
   left: 42vw;
   
}

.Botella img {
   z-index: 1;
   width: 54vw;
   position: absolute;
   
}

.ethel {
   width: 9vw;
   position: absolute;
   top: 9vw;
   left: 57vw;
   
}

.georgiooniani {
   width: 7vw;
    position: absolute;
    top: 14vw;
    left: 88vw;
   
}

.hugie {
   width: 8vw;
   position: absolute;
   top: 29vw;
   left: 70vw;
}

.mayell {
   width: 8vw;
   position: absolute;
   top: 28vw;
   left: 55vw;
}

.mrmurray {
   width: 8vw;
   position: absolute;
   top: 39vw;
   left: 86vw;
}

.oswaldo {
   width: 8vw;
  position: absolute;
  top: 18vw;
  left: 73vw;
  }

.quest {
   width: 6vw;
    position: absolute;
    top: 40vw;
    left: 55vw;
  }

.sugarfree {
   width: 6vw;
    position: absolute;
    top: 43vw;
    left: 72vw;
  }

.timkern {
   width: 5vw;
    position: absolute;
    top: 24vw;
    left: 88vw;
  }

.tzena {
   width: 5vw;
    position: absolute;
    top: 11vw;
    left: 75vw;
  } 

.cuchilloguests img {
   z-index: 3;
   width: 3vw;
   position: absolute;
   top: 26.5vw;
   left: 36.5vw;
   
}

.tenedorguests {
   z-index: 4;
   width: 10vw;
   position: absolute;
   top: 36vw;
   left: 27vw;
   
}

.plato2guests img{
   width: 7vw;
    position: absolute;
    top: 18vw;
    left: 60vw;
  }

.quesoguests img {
   width: 7vw;
  position: absolute;
  top: 32vw;
  left: 80vw;
  }

#shakeethel:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 #shakegeorgiooniani:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 #shakehugie:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 #shakemayell:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 #shakemrmurray:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 #shakeoswaldo:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

  #shakequest:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 #shakesugarfree:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

 #shaketimkern :hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }

#shaketzena:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }
 
 #shaketimkern:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
 }
 
 @keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
   
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
 
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
 
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
 }
 
/* Contact */

.contactofondo {
   display: inline-block;
   height: 54.5vw;
   position: relative;
   width: 100%;
   background-image: url("../../images/Contact/FondoContact.png");
   background-size: 100%;
   background-repeat: no-repeat;

}

.tituloformulario h1 {
   font-size: 4vw;
   position: absolute;
   top: 2vw;
   left: 42vw;

}

.quesocontact img {
   display: none;
}

.sobremesalogocontact img {
   display: none;
}


.instagramlogofooter img{
   width: 1.8vw;
   position: absolute;
   top: 48.1vw;
   left: 88vw;
}

.facebooklogofooter img {
   width: 2vw;
   position: absolute;
   top: 48vw;
   left: 85vw;
   
}

#formulariocontact {
line-height: 1vw;
position: absolute;
top: 10vw;
left: 37vw;
}

.inputname input{
 font-size: 1vw;
 @include inputstyle(26vw,1.5vw,3px,20px)
}

.inputapellido input{
  font-size: 1vw;
  @include inputstyle(26vw,1.5vw,3px,20px)
}

.inputemail input {
  font-size: 1vw;
  @include inputstyle(26vw,1.5vw,3px,20px)
}

.inputaffair input {
  font-size: 1vw;
  @include inputstyle(26vw,1.5vw,3px,20px)
}

.textareacomments textarea {
   font-size: 1vw;
   @include inputstyle(26vw,8vw,3px,20px)
}

.botonsubmit input {
   font-size: 1vw;
   @include inputstyle(4vw,2vw,3px,20px)
   }

   .labelname {
     font-size: 1.6vw;
 }
 
 .labelapellido {
  font-size: 1.6vw;
 }
 
 .labelemail {
  font-size: 1.6vw;
 }
 
 .labelaffair {
  font-size: 1.6vw;
 }
 
 .labelcomments {
  font-size: 1.6vw;
 }


/* MOBILE VERSION */


 @media only screen and (min-width: 0px) and (max-width: 640px) {

    /* Home Mobile */

#logonavbar a {
    display: none;
}

#homepage {
    
    flex-wrap: nowrap;
    height: 640px;
    position: relative;
    display: inline-block;
    width: 100%;

}

#botonmenumobile {
  display: block;
}

#menudesplegable{
  position: absolute;
  z-index: 50;
  top: 0px;
  right:0px ;
  bottom: 0px;
  left: 175px;
  #botonmenumobile {
    width: 90px;
    position: absolute;
    top: 5px;
    left: 55px;
  }
  ul li{
    width: 70px;
    height: 50px ;
    background-color: salmon;
    list-style: none;
    -webkit-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.17);
    -moz-box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.17);
    box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.17);
    @include positionrelative (130px,0px,0px,-149px)
  }
  li{
    padding: 15px;
    padding-left: 25px;
    letter-spacing: 1px;
    line-height: 28px;
    font-family: "DK LEMON", "DK LEMON GITHUB";
    list-style: none;
    font-size: 25px;
    text-decoration: none;
  }
  a{
  color: rgb(0, 0, 0);
    text-decoration: none;
  }
  .logodesplegable{
    width: 40px;
    padding-left: 10px;
  }
}


.letras {
  font-family: "DK LEMON", "DK LEMON GITHUB";
}



.menumobile.visible {
  display: block;
}


.PageHead {
  display: none;

}

#opcionesmenunavbar a {
display: none;}

.PageHead img{
    display: none;
  
}


#Home {
display: none;
}

.AboutMenu {
    display: none;
}

.ThePartyMenu {
    display: none;
}

.GuestsMenu {
    display: none;
}

.ContactMenu {
    display: none;
}

.SobremesaLogo img{
  width: 73vw;
  @include positionabsolut(290px,none,none,37px)
}


#PlatoConQueso img { 
    width: 79px;
    @include positionabsolut(183px,none,none,15px)
    
}

#PlatoTenedorAmrillo img {
    width: 70px ;
    @include positionabsolut(486px,none,none,237px)
}

#Roto img {
    width: 44px;
    @include positionabsolut(450px,none,none,30px)
}

#Copa img {
    width: 115px;
    @include positionabsolut(414px,122px,0px,120px)
}

#Cuchillo img {
    width: 35px;
    @include positionabsolut(210px,36px,0px,280px)
}

#Tenedor img{
    width: 76px;
    @include positionabsolut(206px,47px,0px,220px)
}

#logonavbar {
display: none;
}

#opcionesmenunavbar {
    display: none;
}

/* About */

.AboutFondo {
    height: 640px;
    display: inline-block;
    position: relative;
    width: 100%;
    background-image: url("../../images/About/Fondoaboutmobile.png");
    background-size: cover;
}

.tituloabout h1 {
    font-size: 50px;
    @include positionabsolut(60px,none,none,28px)
}

.aboutdescription p {
    font-size: 16px; 
    justify-content: space-between;
    line-height: 22px;
    @include positionabsolut(450px,none,none,20px)
    }


#CartelitoAbout img {
    width: 303px;
    @include positionabsolut(200px,none,none,17px)
}

.cartelitomovimiento{
  animation: shake 1s;
  animation-iteration-count: infinite;
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* The Party */

#thepartypage {
    height: 640px;
    display: inline-block;
    position: relative;
    width: 100%;
}

// PRUEBA GALERIA FOTOS

#photos {
  position: absolute;
  top: 370px;
  left: 10px;
  z-index: 1000;
  opacity: 100%;
}

#photos img {
  width: 70px;
  float: left;
  display: block;
  margin: 2px;
  border-radius: 2px;
}


#overlay {
  z-index: 10001;
  background: rgba(0,0,0, .8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

#overlay img {
  margin: 35% auto 0;
  width: 300px;
  border-radius: 2px;
}

#photos {
  width: 200px
}

#photo-gallery {
  width: 100%;
}

// 

// PRUEBA GALERIA DE FLYERS

#Flyers {
  position: absolute;
  top: 160px;
  left: 170px;
  z-index: 1000;
  opacity: 100%;
}

#Flyers img {
  width: 70px;
  float: left;
  display: block;
  margin: 2px;
  border-radius: 2px;
}


#overlay2 {
  z-index: 10001;
  background: rgba(0,0,0, .8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

#overlay2 img {
  margin: 10% 
  auto 0;
  width: 550px;
  border-radius: 5px;
}

#Flyers {
  width: 200px;
}

#Flyers-gallery {
  width: 100%;
}

// 


.TituloTheParty {
    font-size: 45px;
    @include positionabsolut(0px,none,none,100px)
}

.copatheparty {
  z-index: 1;
    width: 340px;
    @include positionabsolut(100px,0px,auto,-135px)
}   

.platosparty {
    width: 290px;
    @include positionabsolut(95px,none,none,18px)
} 

.cuchilloparty {
    display: none;
}

.tenedorparty {
   display: none;
}

.platoesquinaparty {
  z-index: 2;
    width: 240px;
    @include positionrelative(450px,none,none,80px)
}

.titulofotosparty {
    font-size: 17px;
    @include positionabsolut(330px,none,none,16px)
}

.tituloflyersparty { 
    font-size: 17px;
    @include positionabsolut(372px,none,none,280px)
}


/* Guests */

#guestspage {
    height: 640px;
    display: inline-block;
    position: relative;
    width: 100%;
}
#gueststitulo {
    z-index: 2;
    font-size: 23px;
    @include positionabsolut(0px,none,none,10px)
}

.Botella img {
    z-index: 1;
    width: 330px;
    @include positionabsolut(258px,none,none,0px)
}

.ethel {
    width: 60px;
    @include positionabsolut(170px,none,none,16px)
}

.georgiooniani {
    width: 60px;
    @include positionabsolut(120px,none,none,90px)
}

.hugie {
    width: 70px;
    @include positionabsolut(340px,none,none,10px)
}


.mayell {
    width: 62px;
    @include positionabsolut(240px,none,none,90px)
}

.mrmurray {
    width: 60px;
    transform: rotate(-30deg);
    @include positionabsolut(210px,none,none,165px)
}

.oswaldo {
    width: 70px;
    @include positionabsolut(150px,none,none,220px)
}

.quest {
    width: 60px;
    @include positionabsolut(210px,none,none,260px)
}

.sugarfree {
    width: 45px;
    @include positionabsolut(90px,none,none,280px)
}

.timkern {
    width: 50px;
    @include positionabsolut(260px,none,none,10px)
}

.tzena {
    width: 60px;
    transform: rotate(-20deg);
    @include positionabsolut(80px,none,none,170px)
} 

.cuchilloguests img {
    z-index: 3;
    width: 24px;
    @include positionabsolut(400px,0px,0px,220px)
}

.tenedorguests { 
    z-index: 4;
    width: 80px;
    @include positionabsolut(500px,none,none,140px)
}

.plato2guests img{
    width: 50px;
    @include positionabsolut(175px,none,none,130px)
}

.quesoguests img {
    width: 48px;
    @include positionabsolut(100px,auto,57px,20px)
}
/* Contact */


.contactofondo{
  background: none;
}


.fondofomulario {
    height: 640px;
    display: inline-block;
    position: relative;
    width: 100%;
    background-image: url("../../images/Contact/fondomobilecontact.png");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.tituloformulario h1 {
    font-size: 50px;
    @include positionabsolut(50px,none,none,80px)
}

.quesocontact img {
    display: none;
}

.sobremesalogocontact img {
   display: none;
}

.instagramlogofooter img{
    width: 25px;
    @include positionabsolut(580px,none,none,250px)
}

.facebooklogofooter img {
    width: 27px;
    @include positionabsolut(578px,none,none,287px)
}

#formulariocontact {
display: flex;
flex-direction: column;
align-items: center;
line-height: 8px;
@include positionabsolut(175px,none,none,95px)
}

#inputnamemobile input{
  @include inputstyle(150px,15px,3px,20px)
}

#inputapellidomobile input{
  @include inputstyle(150px,15px,3px,20px)
}

#inputemailmobile input {
  @include inputstyle(150px,15px,3px,20px)
}

#inputaffairmobile input {
  @include inputstyle(150px,15px,3px,20px)

}

#textareacommentsmobile textarea {
  @include inputstyle(150px,50px,3px,20px)
}

#botonsubmitmobile input {
  display: flex;
  align-self: center;
  font-size: 15px;
  @include inputstyle(50px,25px,3px,20px)
    }

#labelnamemobile label {
    font-size: 15px;
}

#labelapellidomobile label {
    font-size: 15px;
}

#labelemailmobile {
    font-size: 15px;
}

#labelaffairmobile label {
    font-size: 15px;
}

#labelcommentsmobile label {
    font-size: 15px;
}

}


