@font-face {
    font-family: "DK LEMON";
    src: url("../Assets/Tipografia/DK Lemon Yellow Sun.otf");
}

h1 {
    font-family: "DK Lemon Yellow Sun";
}

h3 {
    font-family: "DK Lemon Yellow Sun";
}

p {
    font-family: "DK Lemon Yellow Sun";
}

label {
    font-family: "DK Lemon Yellow Sun" ;
    font-size: 30px;
}

input {
    font-family: "DK Lemon Yellow Sun" ;
    font-size: 20px;
}

textarea {
    font-family: "DK Lemon Yellow Sun" ;
    font-size: 20px;
}


@media screen and (min-width: 1080px ) {



/* Home */

#homepage {
    
    flex-wrap: nowrap;
    display: grid;
    height: 1080px;
    display: inline-block;
    width: 100%;

}

.PageHead {
    z-index: 100;
    padding-top: 10px;
    font-family: "DK Lemon Yellow Sun";
    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;

}

#opcionesmenunavbar a {
    padding: 20px;
}

.PageHead img{
    width: 90px;
    align-items: center;
    padding: 0px 100px ;
  
}


#Home {
color: black;
text-decoration: none;
}

.AboutMenu {
    color: black;
    text-decoration: none;
}

.ThePartyMenu {
    color: black;
    text-decoration: none;
}

.GuestsMenu {
    color: black;
    text-decoration: none;
}

.ContactMenu {
    color: black;
    text-decoration: none;
}

#swipeuplogo img {
    display: none;
}

#botonmenudesplegable img {
    display: none;
}

#SobremesaLogo img {
    align-items: center;
  width: 1238px ;
  position: relative;
    top: 160px ;
    right: 400px ;
    bottom: 342px ;
    left: 282px;
}

#PlatoConQueso img {
    width: 176px;
    position: absolute;
    top: 200px ;
    right: 1574px ;
    bottom: 380px ;
    left: 170px;

}

#PlatoTenedorAmrillo img {
    width: 165px ;
    position: absolute;
    top: 600px ;
    right: 167px ;
    bottom: 195px ;
    left: 1548px;

}

#Roto img {
    width: 89px;
    position: absolute;
    top: 680px ;
    right: 1406px ;
    bottom: 120px ;
    left: 235px;

}

#Copa img {
    width: 241px;
    position: absolute;
    top: 630px ;
    right: 700px ;
    bottom: 200px ;
    left: 750px;

}

#Cuchillo img {
    width: 70px;
    position: absolute;
    top: 160px;
    right:  152px;
    bottom:  482px;
    left: 1605px;

}

#Tenedor img{
    width: 155px;
    position: absolute;
    top: 140px;
    right:  152px;
    bottom:  482px;
    left: 1480px;
}

#logonavbar {
    padding: 0px 200px;
}

#opcionesmenunavbar {
    padding: 0px 200px;
}

/* About */

.AboutFondo {
    height: 1080px;
    display: inline-block;
    width: 100%;
    background-image: url("../images/About/FondoAbout 1920x1080.png");
    background-size: cover;
}

.tituloabout h1 {
    font-size: 110px ;
    position: absolute;
    top: 1350px ;
    right: 1027px;
    bottom: 645px;
    left: 267px;
}

.aboutdescription article p {
    font-size: 35px;
    justify-content: space-between;
    position: absolute;
    top: 1520px;
    right: 1078px;
    bottom: 357px;
    left: 319px;
}


#CartelitoAbout img {
    width: 582px ;
    position: absolute;
    top: 1400px;
    right: 110px ;
    bottom: 431px;
    left: 1228px ;
}

/* The Party */

#thepartypage {
    height: 1080px;
    display: inline-block;
    width: 100%;
}


.TituloTheParty {
font-size: 100px;
position: absolute;
top: 2170px ;
right:854px;
bottom: 1067px ;
left: 757px;
}

.copatheparty {
    width: 1010px;
    position: absolute;
    top: 1920px ;
    right: 1293px;
    bottom: auto ;
    left: auto;
}

.platosparty {
    width: 767px ;
    position: absolute;
    top: 2370px ;
    right: 641px;
    bottom: 904px;
    left: 512px;
} 

.cuchilloparty {
    width: 70px;
    position: absolute;
    top: 2350px ;
    right: 132px;
    bottom: 901px;
    left: 1667px;
}

.tenedorparty {
    width: 160px;
    position: absolute;
    top: 2340px;
    right: 190px;
    bottom: 933px ;
    left: 1537px;
}

.platoesquinaparty {
    width: 439px;
    position: relative;
    top: 720px;
    right: auto ;
    bottom: auto ;
    left: 1450px;
}

.titulofotosparty {
    font-size: 30px;
    position: absolute;
    top: 2655px;
    right: 1758px ;
    bottom: 773px;
    left: 110px ;
}

#fotosparty img {
    width: 150px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    top: 100px ;
    right: 1218px ;
    bottom: 356px ;
    left: 92px;
    border-radius: 20px;
}

.tituloflyersparty { 
    font-size: 30px;
    position: absolute;
    top: 2920px ;
    right: 300px ;
    bottom: 150px ;
    left: 1150px;    
}

#flyersparty img { /*resolver que se sube el top */
    width: 150px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    top: auto;
    right: 188px;
    bottom: 356px ;
    left: 1122px ;
    border-radius: 20px;

}

/* Guests */

#guestspage {
    height: 1080px;
    display: inline-block;
    width: 100%;
}
#gueststitulo {
    z-index: 2;
    font-size: 100px ;
    position: absolute;
    top:  3450px ;
    right: 730px ;
    bottom: 757px ;
    left: 800px ;
}

.Botella img {
    z-index: 1;
    width: 1050px;
    position: absolute;
    top: 3190px ;
    right: 653px;
    bottom: 0px ;
    left: 0px;
}

.ethel {
    width: 160px ;
    position: absolute;
    top: 3460px;
    right: 408px;
    bottom: 788px;
    left: 1228px;
}

.georgiooniani {
    width: 154px;
    position: absolute;
    top: 3620px;
    right: 124px;
    bottom: 608px;
    left: 1642px ;
}

.hugie {
    width: 166px;
    position: absolute;
    top: 4150px;
    right: 342px;
    bottom: 71px;
    left: 1288px;
}

.mayell {
    width: 143px;
    position: absolute ;
    top: 3630px ;
    right: 243px;
    bottom: 523px;
    left: 1382px;
}

.mrmurray {
    width: 163px ;
    position: absolute;
    top: 4010px;
    right: 588px ;
    bottom: 91px ;
    left: 1020px;
}

.oswaldo {
    width: 206px;
    position: absolute;
    top: 3900px;
    right: 124px ;
    bottom: 238px ;
    left: 1590px ;
}

.quest {
    width: 113px ;
    position: absolute;
    top: 3950px;
    right: 327px;
    bottom: 285px;
    left: 1300px ;
}

.sugarfree {
    width: 119px;
    position: absolute;
    top: 3770px;
    right: 485px;
    bottom: 367px;
    left: 1130px;
}

.timkern {
    width: 106px ;
    position: absolute;
    top: 3490px;
    right: 170px;
    bottom: 748px;
    left: 1520px;
}

.tzena {
    width: 101px ;
    position: absolute;
    top: 4100px;
    right: 209px;
    bottom: 90px ;
    left: 1600px;
} 

.cuchilloguests img {
    z-index: 3;
    width: 54px;
    position: absolute;
    top: 3700px;
    right: 966px ;
    bottom: 415px;
    left: 710px;
}

.tenedorguests {
    z-index: 4;
    width: 60px;
    position: absolute;
    top: 3880px;
    right: 979px;
    bottom: 290px;
    left: 540px;
}

.plato2guests img{
    width: 130px;
    position: absolute;
    top: 3800px ;
    right: 262px ;
    bottom: 389px ;
    left: 1400px ;
}

.quesoguests img {
    width: 156px;
    position: absolute;
    top: 3560px;
    right: 513px ;
    left: 1100px ;
    bottom: 546px;
}
/* Contact */

.fondofomulario {
    width: 1920px;
    height: 1080px;
    display: inline-block;
    width: 100%;
    background-image: url("../images/Contact/FondoContacto1920x1080.png");
background-size: cover;
}

.tituloformulario h1 {
    font-size: 100px;
  position: absolute;
  top: 4450px;
  right: 758px;
  bottom: 806px;
  left: 758px;
}

.quesocontact img {
    width: 192px ;
    position: absolute;
    top: 4600px;
    right: 1466px;
    bottom: 716px;
    left: 262px;
}

.sobremesalogocontact img {
    width: 317px;
    position: absolute;
    top: 4850px ;
    right: 140px;
    bottom: 494px;
    left: 1463px ;
}

.instagramlogofooter img{
    width: 40px;
    position: absolute;
    top: 5405px ;
    right: 360px;
    bottom: 45px;
    left: 1520px ;
}

.facebooklogofooter img {
    width: 47px ;
    position: absolute;
    top: 5400px;
    right: 297px;
    bottom: 39px;
    left: 1572px;
}

#formulariocontact {
    display: flex;
flex-direction: column;
align-items: center;
position: absolute;
top: 4700px ;
right: 538px ;
bottom: 190px;
left: 538px ;
}

.inputname input{
    width: 500px;
    height: 25px;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    color: black;
}

.inputapellido input{
    width: 500px;
    height: 25px;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    color: black;
}

.inputemail input {
    width: 500px;
    height: 25px;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    color: black;
}

.inputaffair input {
    width: 500px;
    height: 25px;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    color: black;
}

.textareacomments textarea {
    width: 500px;
    height: 130px;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    color: black;
}

.botonsubmit input {
    width: 70px;
    height: 35px;    
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    color: black;
    background: none;
    }

}

/* MOBILE VERSION */


@media (max-width: 640px)  {

    /* Home Mobile */

#logonavbar a {
    display: none;
}

#homepage {
    
    flex-wrap: nowrap;
    display: grid;
    height: 640px;
    display: inline-block;
    width: 100%;

}

.PageHead {
  display: none;

}

#opcionesmenunavbar a {
display: none;}

.PageHead img{
    display: none;
  
}


#Home {
display: none;
}

.AboutMenu {
    display: none;
}

.ThePartyMenu {
    display: none;
}

.GuestsMenu {
    display: none;
}

.ContactMenu {
    display: none;
}

#botonmenudesplegable img {
    width: 70px;
    position: absolute;
    top: 20px;
    right: 282px;
    bottom: 291px;
    left: 270px;
}

#swipeuplogo img {
    width: 35px;
    position: absolute;
    top: 560px;
    right: 0px;
    bottom: 291px;
    left: 165px;
}

#SobremesaLogo img {
    align-items: center;
    width: 300px ;
    position: relative;
      top: 289px ;
      right: 28.5px ;
      bottom: 140px ;
      left: 28.5px;
}

#PlatoConQueso img {
    width: 79px;
    position: absolute;
    top: 183px ;
    right: 282px ;
    bottom: 291px ;
    left: 29px;

}

#PlatoTenedorAmrillo img {
    width: 70px ;
    position: absolute;
    top: 486px ;
    right: 36px ;
    bottom: 0px ;
    left: 260px;

}

#Roto img {
    width: 44px;
    position: absolute;
    top: 450px ;
    right: 302px ;
    bottom: 0px ;
    left: 44px;

}

#Copa img {
    width: 115px;
    position: absolute;
    top: 414px ;
    right: 122px ;
    bottom: 0px ;
    left: 122px;

}

#Cuchillo img {
    width: 35px;
    position: absolute;
    top: 210px;
    right: 36px;
    bottom: 0px;
    left: 295px;

}

#Tenedor img{
    width: 76px;
    position: absolute;
    top: 206px;
    right: 47px;
    bottom: 0px;
    left: 230px;
}

#logonavbar {
display: none;
}

#opcionesmenunavbar {
    display: none;
}

/* About */

.AboutFondo {
    height: 640px;
    display: inline-block;
    width: 100%;
    background-image: url("../images/About/Fondoaboutmobile.png");
    background-size: cover;
}

.tituloabout h1 {
    font-size: 50px;
    position: absolute;
    top: 700px;
    right: auto;
    bottom: 57px;
    left: 50px;
}

.aboutdescription article p {
    font-size: 17px;
    justify-content: space-between;
    position: absolute;
    top: 1100px;
    right: auto;
    bottom: 57px;
    left: 40px;
    }


#CartelitoAbout img {
    width: 303px;
    position: absolute;
    top: 860px;
    right: auto;
    bottom: 431px;
    left: 30px;
}

/* The Party */

#thepartypage {
    height: 640px;
    display: inline-block;
    width: 100%;
}


.TituloTheParty {
    font-size: 50px;
    position: absolute;
    top: 1300px;
    right: auto;
    bottom: 57px;
    left: 100px;
}

.copatheparty {
    width: 380px;
    position: absolute;
    top: 1400px;
    right: 0px;
    bottom: auto;
    left: -135px;
}   

.platosparty {
    width: 310px;
    position: absolute;
    top: 1400px;
    right: 33px;
    bottom: 671px;
    left: 25px;
} 

.cuchilloparty {
    display: none;
}

.tenedorparty {
   display: none;
}

.platoesquinaparty {
    width: 260px;
    position: relative;
    top: 500px;
    right: auto;
    bottom: auto;
    left: 90px;
}

.titulofotosparty {
    font-size: 17px;
    position: absolute;
    top: 1455px;
    right: auto;
    bottom: 57px;
    left: 90px;
}

#fotosparty img {
    width: 70px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    top: -70px;
    right: auto;
    bottom: auto;
    left: 70px;
    border-radius: 15px;
}

.tituloflyersparty { 
    font-size: 17px;
    position: absolute;
    top: 1857px;
    right: auto;
    bottom: 57px;
    left: 17px
}

#flyersparty img {
    width: 70px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    top: -50px;
    right: auto;
    bottom: auto;
    left: 0px;
    border-radius: 15px;

}

/* Guests */

#guestspage {
    height: 640px;
    display: inline-block;
    width: 100%;
}
#gueststitulo {
    z-index: 2;
    font-size: 40px;
    position: absolute;
    top: 1965px;
    right: auto;
    bottom: 57px;
    left: 17px;
}

.Botella img {
    z-index: 1;
    width: 350px;
    position: absolute;
    top: 2208px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.ethel {
    width: 60px;
    position: absolute;
    top: 2100px;
    right: auto;
    bottom: 57px;
    left: 17px;
}

.georgiooniani {
    width: 60px;
    position: absolute;
    top: 2050px;
    right: auto;
    bottom: 57px;
    left: 100px;
}

.hugie {
    width: 70px;
    position: absolute;
    top: 2300px;
    right: auto;
    bottom: 57px;
    left: 20px;
}


.mayell {
    width: 62px;
    position: absolute;
    top: 2150px;
    right: auto;
    bottom: 57px;
    left: 100px;
}

.mrmurray {
    width: 60px;
    position: absolute;
    top: 2090px;
    right: auto;
    bottom: 57px;
    left: 175px;
}

.oswaldo {
    width: 70px;
    position: absolute;
    top: 2060px;
    right: auto;
    bottom: 57px;
    left: 230px;
}

.quest {
    width: 60px;
    position: absolute;
    top: 2165px;
    right: auto;
    bottom: 57px;
    left: 280px;
}

.sugarfree {
    width: 45px;
    position: absolute;
    top: 2110px;
    right: auto;
    bottom: 57px;
    left: 290px;
}

.timkern {
    width: 50px;
    position: absolute;
    top: 2220px;
    right: auto;
    bottom: 57px;
    left: 20px;
}

.tzena {
    width: 60px;
    position: absolute;
    top: 2240px;
    right: auto;
    bottom: 57px;
    left: 110px;
    transform: rotate(-20deg);
} 

.cuchilloguests img {
    z-index: 3;
    width: 29px;
    position: absolute;
    top: 2380px;
    right: 0px;
    bottom: 0px;
    left: 238px;
}

.tenedorguests img {
    z-index: 4;
    width: 100px;
    position: absolute;
    top: 2460px;
    right: 0px;
    bottom: 0px;
    left: 150px;
}

.plato2guests img{
    width: 50px;
    position: absolute;
    top: 2165px;
    right: auto;
    bottom: 57px;
    left: 190px;
}

.quesoguests img {
    width: 48px;
    position: absolute;
    top: 2150px;
    right: auto;
    bottom: 57px;
    left: 30px;
}
/* Contact */

.fondofomulario {
    height: 640px;
    display: inline-block;
    width: 100%;
    background-image: url("../images/Contact/fondomobilecontact.png");
background-size: cover;
}

.tituloformulario h1 {
    font-size: 50px;
    position: absolute;
    top: 2570px;
    right: auto;
    bottom: 57px;
    left: 85px;
}

.quesocontact img {
    width: 100px;
    position: absolute;
    top: 2990px;
    right: auto;
    bottom: 57px;
    left: -69px;
}

.sobremesalogocontact img {
    width: 100px;
    position: absolute;
    top: 2670px;
    right: auto;
    bottom: 57px;
    left: 250px;
    transform: rotate(50deg);
}

.instagramlogofooter img{
    width: 25px;
    position: absolute;
    top: 3182px;
    right: auto;
    bottom: 57px;
    left: 270px;
}

.facebooklogofooter img {
    width: 27px;
    position: absolute;
    top: 3180px;
    right: auto;
    bottom: 57px;
    left: 304px;
}

#formulariocontact {
    display: flex;
flex-direction: column;
align-items: center;
position: absolute;
top: 2680px ;
right: 68px ;
bottom: 128px;
left: 52px ;
}

.inputname input{
    width: 200px;
    height: 20px;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    color: black;
    background: none;
}

.inputapellido input{
    width: 200px;
    height: 20px;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    color: black;
    background: none;
}

.inputemail input {
    width: 200px;
    height: 20px;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    color: black;
    background: none;
}

.inputaffair input {
    width: 200px;
    height: 20px;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    color: black;
    background: none;
}

.textareacomments textarea {
    width: 200px;
    height: 35px;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    color: black;
    background: none;
}

.botonsubmit input {
    width: 70px;
    height: 35px;    
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    color: black;
    background: none;
    }

}
